@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-text {
    @apply h-10 rounded p-2 dark:text-white bg-light-100 dark:bg-layer-100 border border-light-400 dark:border-layer-500 focus:outline-none focus:border-primary-100 focus:ring-light-100 focus:ring-1 focus:dark:ring-primary-100 placeholder:italic w-full;
  }
  .input-select {
    @apply h-10 rounded p-2 dark:text-white bg-light-100 dark:bg-layer-100 border border-light-400 dark:border-layer-500 outline-none focus:outline-1 focus:outline-layer-600 focus:border-none focus:border-primary-100 focus:ring-primary-100 w-full;
  }
  .input-checkbox {
    @apply rounded dark:text-white bg-light-100 dark:bg-layer-100 border border-light-400 dark:border-layer-500 outline-none focus:outline-1 focus:outline-layer-600 focus:border-none w-full;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --layer-100: #17141c;
  --layer-200: #201d25;
  --layer-300: #252229;
  --layer-400: #2c2930;
  --layer-500: #38353c;
  --layer-600: #413e45;

  --light-100: #ffffff;
  --light-200: #f6f8fa;
  --light-300: #e4e4e4;
  --light-400: #c9c9c9;

  --primary-color: #413e45;
  --primary-color-variant: #252229;
  --secondary-color: #03dac6;
  --secondary-color-variant: #018786;

  --green-100: #116639;
  --green-200: #1f9254;
  --green-300: #4bd089;
  --green-400: #83efb6;

  --yellow-100: #af6900;
  --yellow-200: #7e4e07;

  --red-100: #900509;
  --red-200: #b72a2e;
  --red-300: #e34a4e;
  --red-400: #ef7477;

  --text-color: #eeeeee;

  --general-menu-width: 260px;
  --general-menu-width-closed: 54px;
  --header-height: 67px;

  --space-100: 0.1rem;
  --space-200: 0.4rem;
  --space-300: 0.6rem;
  --space-400: 1rem;
  --space-600: 1.2rem;
  --space-700: 1.3rem;
  --space-800: 1.4rem;
  --space-900: 1.5rem;
  --space-1000: 1.6rem;
  --space-1100: 1.7rem;
  --space-1200: 1.8rem;
  --space-1300: 1.9rem;

  --transition: all 0.4s ease;
  --transition-fast: all 0.2s ease;

  --fs-300: 0.7rem;
  --fs-400: 0.8rem;
  --fs-450: 0.85rem;
  --fs-500: 0.9rem;
  --fs-600: 1rem;
  --fs-650: 1.05rem;
  --fs-800: 1.2rem;

  --input-height: 5vh;

  --border-radius-xxsm: 0.4rem;
  --border-radius-xsm: 0.6rem;
  --border-radius-sm: 0.8rem;
  --border-radius-md: 1.2rem;
  --border-radius-lg: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Poppins', sans-serif;
  overscroll-behavior: contain;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.448rem;
}

h2 {
  font-size: 2.075rem;
}

h3 {
  font-size: 1.725rem;
}

h4 {
  font-size: 1.438rem;
}

h5 {
  font-size: 1.2rem;
}

.robolaunch-bg {
  background: linear-gradient(72.25deg, #35b8fa 0%, #ac2dfe 100%);
}

div.text-red-300 {
  display: block !important;
  top: 100%;
  left: 0;
  text-align: center;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.5s;
  border-radius: 0.25rem;
  background-color: var(--layer-200);
  border: 0.1rem solid var(--layer-600);
}
input[type='checkbox']:checked {
  background-color: var(--layer-300);
  border: 0.1rem solid var(--layer-600);
}
input[type='checkbox']:before,
input[type='checkbox']:checked:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.75rem;
  text-align: center;
  color: white;
}
input[type='checkbox']:checked:before {
  content: '✔';
}

.animate__fadeInDownBig {
  animation-fill-mode: initial;
}

.react-responsive-modal-container > div {
  background-color: var(--layer-100);
  color: var(--text-color);
  border: 1px solid var(--layer-600);
  border-radius: 0.5rem;
}
.react-responsive-modal-closeButton > svg {
  background-color: var(--layer-600);
  border: 3px solid var(--layer-500);
  border-radius: 0.25rem;
}

@media screen and (min-width: 1025px) {
  .react-responsive-modal-container > div {
    max-width: unset;
    width: 80vw;
    max-width: 80vw;
    max-height: 80vh;
    padding: 3rem 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .react-responsive-modal-container > div {
    min-width: 90vw;
    width: 90vw;
    max-width: 90vw;
    padding: 3rem 2rem;
    max-height: 90vh;
  }
}
